# Any excel files
*.xlsx

# Venv files
/.venv/

# Ignore __pycache__ directories
**/__pycache__/

# Ignore all .pyc files
*.pyc

# Ignore the progress.txt file
*.txt
*.log

# Any jupyter notebooks
*.ipynb