# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
# created-by: conda 24.11.3 (Saved in a commit)
# Altered afterwards by Aditya
altair==5.0.1
arrow-cpp
charset-normalizer==3.3.2
docutils==0.18.1
et_xmlfile==1.1.0
gitpython==3.1.43
libcurl==8.11.1
libprotobuf==4.25.3
numpy==1.26.4
openpyxl==3.1.5
openssl==3.4.0
pandas==2.2.3
pillow==11.0.0
pip==24.2
protobuf==4.25.3
python==3.12.3
pyarrow==17.0.0
pydeck==0.8.0
pygments==2.15.1
pyparsing==3.2.0
pysocks==1.7.1
python==3.12.3
python-dateutil==2.9.0post0
python-tzdata==2023.3
python_abi==3.12
pytz==2024.1
pyyaml==6.0.2
re2==2022.04.01
requests==2.32.3
setuptools==75.1.0
streamlit==1.41.1
toml==0.10.2
toolz==1.0.0
tornado==6.4.2
typeguard==4.2.1
typing_extensions==4.12.2
urllib3==2.3.0
watchdog==4.0.1
wheel==0.44.0
win_inet_pton==1.1.0
xlsxwriter==3.2.0
urllib3==2.3.0
yaml==0.2.5